src/main/resources/britannica_topics.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="publish-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="url-publish" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="topicid" type="xs:int"></xs:element>
							<xs:element name="urltitle" type="xs:string"></xs:element>
							<xs:element name="urlclass" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>